<div [ngClass]="{'transparent': isTransparent, 'solid-purple': !isTransparent}" class="navbar fixed-top">
  <div class="container">
    <h1 class="navbar-brand text-light" [routerLink]="['/about-me']"><img src="/assets/portfolio.png" width="50px">Portfolio</h1>
    <span class="example-spacer"></span>
    <button #aboutMeButton class="btn text-light"
    [routerLink]="['/about-me']" [routerLinkActive]="['btn-warning', 'text-dark']">
      Sobre mi
    </button>
    <button #portfolioButton class="ms-1 btn text-light"
      [routerLink]="['/portfolio']" [routerLinkActive]="['btn-warning', 'text-dark']">
      Portfolio
    </button>
  </div>
</div>
