.example-spacer {
    flex: 1 1 auto;
}

.navbar {
    transition: background-color 0.3s ease;
}
  
.navbar.transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}
.navbar.solid-purple {
    background-color:  rgb(103 58 123) !important;
}